.wraper {
  min-height: "100%";
  overflow: hidden;
}

.header {
  margin: 0px auto;
  max-width: 1297px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__column img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 33px;
  max-height: 40px;
}

.header__link a {
  text-decoration: none;
  color: red;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 30px;
}

.header__link a:last-child {
  margin: 0px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__location img {
  margin: 0px 9px 0px 0px;
}

.header__location span {
  max-width: 117px;
  height: 20px;
  left: 1318px;
  top: 30px;
  margin: 0px 30px 0px 0px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  border-bottom: 2px dashed #d3b288;
  color: #333333;
}

.header__location a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  text-decoration: none;
  color: #ffffff;
  width: 144px;
  background: #d3b288;
  border-radius: 5px;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1920px;
}

.first-screen {
  max-width: 1920px;
  width: "100%";
  max-height: 700px;
  height: 700px;
  background: url("../image/background-1.png") 100%;
}

.first-screen__book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 526px;
  height: 700px;
  background: #ffffff;
  margin-left: 492px;
}

.first-screen__border {
  margin: 20px;
  height: 700px;
  border: 3px solid #d3b288;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-screen__title {
  margin: 207px 70px 25px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
}

.first-screen__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  margin: 0px 75px 30px 70px;
}

.first-screen__btn {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  width: 236px;
  margin: 0px 220px 0px 70px;
  background: #d3b288;
  border-radius: 5px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 150px auto;
  max-width: 1076px;
  max-height: 400px;
}

.about__item {
  margin-right: 134px;
}

.about__item img {
  height: 100%;
  max-height: 416;
}

.about__item:last-child {
  margin: 0px;
}

.about__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #d3b288;
}

.about__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  max-width: 1296px;
  width: 1296px auto;
  margin-bottom: 150px;
}

.content__left {
  margin-right: 24px;
  width: 306px;
}

.content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #d3b288;
  margin-bottom: 10px;
}

.content__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}

.content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 54px;
}

.content__row:last-child {
  margin-bottom: 0px;
}

.content__column svg {
  margin-bottom: 20px;
}

.content__column:last-child {
  margin-right: 0px;
}

.content__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.content__column .text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  width: 306px;
  height: 44px;
  text-align: center;
  color: #333333;
}

.service {
  background: #d3b288;
}

.procedures {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1296px;
}

.procedures__info {
  margin-right: 24px;
  width: 416px;
}

.procedures__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 25px;
  width: 306px;
}

.procedures__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}

.procedures__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.procedures__card {
  background: #d3b288;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  margin-right: 24px;
  width: 196px;
  height: 260px;
}

.procedures__card .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 10px;
  width: 176px;
}

.procedures__card span {
  padding: 188px 18px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.procedures__card:last-child {
  margin-right: 0px;
}
