.wraper {
    min-height: "100%";
    overflow: hidden;
}
.header {
    margin: 0px auto;
    max-width: 1297px;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__column img {
        display: flex;
        flex: 0 0 auto;
        max-width: 33px;
        max-height: 40px;
    }

    &__link a {
        text-decoration: none;
        color: red;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

        color: #333333;

        flex: none;
        order: 3;
        flex-grow: 0;
        margin: 0px 30px;
    }

    &__link a:last-child {
        margin: 0px;
    }

    &__location {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__location img {
        margin: 0px 9px 0px 0px;
    }
    &__location span {
        max-width: 117px;
        height: 20px;
        left: 1318px;
        top: 30px;
        margin: 0px 30px 0px 0px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

        color: #333333;
    }
    &__location a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 15px;
        text-decoration: none;
        color: #ffffff;
        width: 144px;

        background: #d3b288;
        border-radius: 5px;
    }
}

.container {
    flex: 1 1 auto;
    max-width: 1920px;
}

.first-screen {
    max-width: 1920px;
    width: "100%";
    max-height: 700px;
    height: 700px;
    background-color: red;
    background: url("../image/background-1.png") 100%;

    &__book {
        display: flex;
        flex-direction: column;
        max-width: 526px;
        height: 700px;
        background: #ffffff;
        margin: 0px 0px 0px 402px;
    }
    &__border {
        margin: 20px;
        height: 700px;
        border: 3px solid #d3b288;
        box-sizing: border-box;
    }

    &__title {
        margin: 207px 70px 25px;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        color: #333333;
    }

    &__text {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #333333;
        margin: 0px 75px 30px 70px;
    }

    &__btn {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;

        width: 236px;
        margin: 0px 220px 0px 70px;

        background: #d3b288;
        border-radius: 5px;
    }
}

.footer {
}
.last-line {
    &__row {
    }

    &__text {
    }
}
