.wraper {
    min-height: "100%";
    overflow: hidden;
}
.header {
    margin: 0px auto;
    max-width: 1297px;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__column img {
        display: flex;
        flex: 0 0 auto;
        max-width: 33px;
        max-height: 40px;
    }

    &__link a {
        text-decoration: none;
        color: red;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

        color: #333333;

        flex: none;
        order: 3;
        flex-grow: 0;
        margin: 0px 30px;
    }

    &__link a:last-child {
        margin: 0px;
    }

    &__location {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__location img {
        margin: 0px 9px 0px 0px;
    }
    &__location span {
        max-width: 117px;
        height: 20px;
        left: 1318px;
        top: 30px;
        margin: 0px 30px 0px 0px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

        border-bottom: 2px dashed #d3b288;

        color: #333333;
    }
    &__location a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 15px;
        text-decoration: none;
        color: #ffffff;
        width: 144px;

        background: #d3b288;
        border-radius: 5px;
    }
}

.container {
    flex: 1 1 auto;
    max-width: 1920px;
}

.first-screen {
    max-width: 1920px;
    width: "100%";
    max-height: 700px;
    height: 700px;
    background: url("../image/background-1.png") 100%;

    &__book {
        display: flex;
        flex-direction: column;
        max-width: 526px;
        height: 700px;
        background: #ffffff;
        margin-left: 492px;
    }
    &__border {
        margin: 20px;
        height: 700px;
        border: 3px solid #d3b288;
        box-sizing: border-box;
    }

    &__title {
        margin: 207px 70px 25px;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        color: #333333;
    }

    &__text {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #333333;
        margin: 0px 75px 30px 70px;
    }

    &__btn {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;

        width: 236px;
        margin: 0px 220px 0px 70px;

        background: #d3b288;
        border-radius: 5px;
    }
}

.about {
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    margin: 150px auto;
    // margin: 150px 0;
    max-width: 1076px;
    max-height: 400px;

    &__item {
        margin-right: 134px;
    }

    &__item img {
        height: 100%;
        max-height: 416;
    }

    &__item:last-child {
        margin: 0px;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;

        color: #d3b288;
    }

    &__text p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;

        color: #333333;
    }
}

.info {
}
.content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1296px;
    width: 1296px auto;
    // height: 434px;

    &__left {
        margin-right: 24px;
        width: 306px;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        color: #d3b288;
        margin-bottom: 10px;
    }

    &__sub-title {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

        color: #333333;
    }

    &__right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 54px;
        margin-right: 24px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
    &__item svg {
        margin-bottom: 20px;
    }
    .text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        width: 306px;
        height: 44px;

        text-align: center;

        color: #333333;
    }
}
